DATABASE_URL=
SESSION_ID=Prince~scl/fi/ukch0dilf6t9wz69ueps5/gQpoTUyVQt.json?rlkey=vu6sx113tbc9lo346s8chgwng&dl=0
REMOVEBG_KEY=
PREFIX=*
MODE=public
STATUSVIEW=true
ANTI_LINK=true
REJECTSCALLS=false
REPLY_STATUS=false
antidelete=true
BOT_NAME=Prince ian
AutoReaction=false
OWNER_NUMBER=254723278526;PRINCE
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by prince
owner_react_emojie=🤍
AlwaysOnline=false
autoreactions_emojies=💛,🤍,💗,♥️,💞
StatusLikes=true
StatusEmojies=♥️,🤗,❤️,💞,❣️,💙,💛,🤍,💚,😍,🥰,💝,💖,💗,💓,💞,💕,❣️,💘,💟,🖤,🤎,💜,💫,🌸
CALLMSG=For now calls are restricted by my owner
ANTIFAKE_USERS=1,212,63,44
PACK_NAME=Prince♥️ IAN 💖
